:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  padding: 20px;
}
.center {
  text-align: center;
  font-size: 32px;
}

.todoList {
  place-content: left;
}

.todo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: solid 1px;
  padding: 8px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 20px;
}
.checked {
  opacity: 50%;
  text-decoration: line-through;
}
.deleteBtn {
  width: 20px;
  height: 20px;
  text-align: center;
  border: 0;
}
.todo > .title {
  font-size: 24px;
}
@media (min-width: 956px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: center;
    height: 100vh;
  }
}
